* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --MidnightBlue: #145da0;
  --darkBlue: #0C2D48;
  --blue: #2E8BC0;
  --babyBlue: #B1D4E0;
}

#main{
  flex: 1;
  margin-top: 80px;
  
}
.flex-row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;

}
/*-----------------*/
header {
  color: white;
  
  
}
body > header {
  background: var(--MidnightBlue);
  height: 80px;
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  color: white;
  

}

#search-container {
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  border-radius: 25px;
  padding: 5px;
  background: var(--babyBlue); 
  
  
}

#search {
  padding: 10px 10px;
  border-radius: 15px 0 0 15px;
  border: none;
  outline: none;
  flex: 1;
}

#login-check {
  display: none;

}
.lista h1 {
  cursor: pointer;
}
#login-check:checked + #frm-login{
  display: flex;
}



#frm-login  {
  position: absolute;
  right: 5px;
  top: 85px;
  display: none;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  padding: 25px;
  background: var(--MidnightBlue);
  border-radius: 15px;
  box-shadow: 0 0 30px #000;
  text-align: center;

}

#frm-login span {
  color: white;
  font-size: 20pt;
  font-weight: bold;
}

#frm-login input , #frm-login button {
  padding: 20px 10px 10px;
  outline: none;
}

#search-button {
  border-radius: 0 15px 15px 0;
  border: none;
  padding: 0 10px;
  background: var(--darkBlue);
  color: white;
  font-weight: bold;
}

#search-button:hover {
  background: var(--blue);
}

#lista {
  background-color: #fffa;
  padding: 15px 30px;
  max-width: 980px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 224px);
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  
}


#lista li {
  background: linear-gradient(var(--babyBlue), #0000) ;
  flex: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  padding: 15px;
  max-width: 224px;
  cursor: pointer;
  
  
}

#lista li:hover {
  background: linear-gradient(var(--blue), #0000) ;
}

#lista li img {
  border-radius: 15px;
  width: 100%;
  
}

#lista li p {
  max-height: 4rem;
  overflow-y: hidden;
  position: relative;
}
#lista li p::after {
    content: 'ver mais';
    background-color: var(--babyBlue);
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(100% - 15px );
    left: 0;
}

#lista li button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
#lista li button:hover {
  background-color: var(--darkBlue);
  color: white;
}

.btn {
  display: block;
  padding: 0 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  
}

.flex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.myList {
  background-color: #fffb;
  padding: 15px 30px;
  max-width: 980px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 224px);
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  
  
  /* margin: 0 auto;
  max-width: 900px;
  display: flex;
  margin-top: 10px;
  gap: 5px;
  flex-wrap: wrap; */
}

.myList li:hover {
  background: var(--MidnightBlue);
}



.myList li {
  cursor: pointer;
  min-height: 150px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--darkBlue);
  position: relative;
  justify-content: space-evenly;
}
#logo {
  cursor: pointer;
}
.myList li .background-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-size: cover;
  z-index: 1;
}
.myList li h2 {
  text-align: center;
}

.myList li * {
  z-index: 2;
}


.frm-login * {
  min-height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}
.frm-login textarea {
  height: 120px;
  resize: none;
  
}
.frm-login {
  color: white;
  max-width: 450px;
  background: var(--darkBlue);
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  padding: 25px;
  gap: 15px;
  border-radius: 15px;
}

.frm-login h2 {
  text-align: center;
}
.frm-login button {
  background: var(--MidnightBlue);
  color: white;
  font-weight: bold;
  font-size: 14pt;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  height: 300px;
  width: 100vw;
  background-color: var(--darkBlue);
  
}

.lista header{
  background: var(--darkBlue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  height: 160px;
  
}
.lista header p {
  font-size: 14pt;
  font-weight: bold;
}

.lista span {
  color: var(--babyBlue);
}

.lista header h1 {
  font-size: 28pt;
  
}

